/*



	Theme Name: Cross Country Ski Headquarters Child Theme



	Description: Cross Country Ski Headquarters is a two or three column child theme created for the Genesis Framework.



	Author: Ponder Consulting & Web Design



	Author URI: http://www.ponderconsulting.com/



 



	Version: 1.0.1



 



	Tags: custom-background, custom-header, featured-images, threaded-comments, two-columns



 



	Template: genesis



	Template Version: 1.8



 



	License: GNU General Public License v2.0 (or later)



	License URI: http://www.opensource.org/licenses/gpl-license.php



*/







/* Table of Contents







* Defaults



* Hyperlinks



* Body



* Wrap



* Header



* Image Header - Partial Width



* Image Header - Full Width



* Navigation Constants



* Header Right Navigation



* Primary Navigation



* Primary Navigation Extras



* Secondary Navigation



* Inner



* Genesis Slider



* Home



* Breadcrumb



* Taxonomy Description



* Content-Sidebar Wrap



* Content



* Column Classes



* Featured Post Grid



* Headlines



* Ordered / Unordered Lists



* Post Info



* Post Meta



* Author Box



* Sticky Posts



* Archive Page



* Images



* Post Navigation



* Primary / Secondary Sidebars



* Dropdowns



* Featured Page / Post



* User Profile



* Buttons



* Search Form



* eNews & Updates Widget



* Calendar Widget



* Footer Widgets



* Footer



* Comments



* Gravity Forms



* Backcountry Blue



* Backcountry Green



* Backcountry Red







*/











/* Defaults



------------------------------------------------------------ */







body,



h1,



h2,



h2 a,



h2 a:visited,



h3,



h4,



h5,



h6,



p,



select,



textarea {



	color: #444;



	font-family: Arial, Helvetica, Tahoma, sans-serif;



	font-size: 14px;



	font-weight: normal;



	line-height: 22px;



	margin: 0;



	padding: 0;



	text-decoration: none;



}







input {



	color: #444;



	font-family: Arial, Helvetica, Tahoma, sans-serif;



}







blockquote,



input,



select,



textarea,



.author-box,



.sticky,



.taxonomy-description,



.wp-caption {



	-moz-box-shadow: 0 0 1px 1px #eee inset;



	-webkit-box-shadow: 0 0 1px 1px#eee inset;



	background: #ebeaea;



	border: 1px solid #ddd;



	box-shadow: 0 0 1px 1px #eee inset;



}







li,



ol,



ul {



	margin: 0;



	padding: 0;



}







ol li {



	list-style-type: decimal;



}











/* Hyperlinks



------------------------------------------------------------ */







a,



a:visited {



	color: #bc0000;



	text-decoration: none;



}







a:hover {



	text-decoration: underline;



}







a img {



	border: none;



}











/* Body



------------------------------------------------------------ */







body {



	background: #000 url(images/body-bg.jpg) repeat-x;



}











/* Wrap



------------------------------------------------------------ */







#wrap {



	margin: 0 auto;



}











/* Header



------------------------------------------------------------ */







#header {



	color: #fff;



	margin: 0 auto;



	min-height: 140px;



	overflow: hidden;



	text-shadow: 1px 1px #222;



	width: 960px;



}







#title-area {



	background: url(images/logo-01.png) no-repeat;



	float: left;



	overflow: hidden;



	padding: 25px 0 0;



	width: 680px;



	margin-top: 10px;



}







#title {



	font-family: Arial, Helvetica, Tahoma, sans-serif;



	font-size: 36px;



	font-weight: bold;



	line-height: 48px;



	margin: 0;



	text-transform: uppercase;



}







#title a,



#title a:hover {



	color: #fff;



	text-decoration: none;



}







#description {



	color: #777;



	font-family: Georgia, Times, 'Times New Roman', serif;



	font-size: 16px;



	font-style: italic;



}







#header .widget-area {



	float: right;



	padding: 10px 0 0;



	width: 250px;



	text-align: center;



}







#header .widget-area ul li {



	border-bottom: none;



	margin: 0 0 20px 0;



	padding: 0;



}











/* Image Header - Partial Width



------------------------------------------------------------ */







.header-image #title-area,



.header-image #title,



.header-image #title a {



	display: block;



	float: left;



	height: 120px;



	overflow: hidden;



	padding: 0;



	text-indent: -9999px;



	width: 680px;



}







.header-image #description {



	display: block;



	overflow: hidden;



}











/* Image Header - Full Width



------------------------------------------------------------ */







.header-full-width #title-area,



.header-full-width #title,



.header-full-width #title a {



	width: 960px;



}











/* Navigation Constants



------------------------------------------------------------ */







li:hover ul ul,



li.sfHover ul ul {



	left: -9999px;



}







li:hover,



li.sfHover {



	position: static;



}







#nav li a.sf-with-ul  {



	padding-right: 24px;



}







#nav li a .sf-sub-indicator {



	background: url(images/arrow-down.png) no-repeat;



	height: 16px;



	position: absolute;



	right: 0;



	text-indent: -9999px;



	top: 18px;



	width: 16px;



}







#header li a .sf-sub-indicator,



#subnav li a .sf-sub-indicator {



	position: absolute;



	text-indent: -9999px;



}







#nav li a:hover .sf-sub-indicator {



	background: url(images/arrow-down-hover.png) no-repeat;



}







#nav li li a .sf-sub-indicator {



	background: url(images/arrow-right.png) no-repeat;



	top: 16px;



}







#nav li li a:hover .sf-sub-indicator {



	background: url(images/arrow-right-hover.png) no-repeat;



}











/* Header Right Navigation



------------------------------------------------------------ */







#header ul.menu {



	float: right;



}







#header ul.menu ul {



	float: right;



	margin: 0;



	padding: 0;



	width: 100%;



}







#header ul.menu li {



	float: left;



	list-style-type: none;



	text-transform: uppercase;



}







#header ul.menu li a {



	color: #777;



	display: block;



	font-family: Georgia, Times, 'Times New Roman', serif;



	font-size: 12px;



	font-style: italic;



	padding: 6px 15px 5px;



	position: relative;



	text-decoration: none;



	text-shadow: 1px 1px #222;



}







#header ul.menu li a:hover,



#header ul.menu li a:active,



#header ul.menu li:hover a,



#header ul.menu .current_page_item a,



#header ul.menu .current-cat a,



#header ul.menu .current-menu-item a {



	color: #fff;



}







#header ul.menu li li a,



#header ul.menu li li a:link,



#header ul.menu li li a:visited {



	border-bottom: 1px solid #333;



	color: #777;



	font-size: 11px;



	padding: 7px 5px;



	position: relative;



	text-transform: none;



	width: 128px;



}







#header ul.menu li li:last-child a { 



	border: none; 



} 







#header ul.menu li li a:hover,



#header ul.menu li li a:active {



	color: #fff;



}







#header ul.menu li ul {



	background: url(images/bg-dark.jpg);



	height: auto;



	left: -9999px;



	padding: 0 10px;



	position: absolute;



	width: 140px;



	z-index: 9999;



}







#header ul.menu li ul a {



	width: 120px;



}







#header ul.nav li ul ul,



#header ul.menu li ul ul {



	margin: -37px 0 0 139px;



}







#header ul.menu li:hover>ul,



#header ul.menu li.sfHover ul {



	left: auto;



}











/* Primary Navigation



------------------------------------------------------------ */



#nav {

	color: #f0e519;

	font-family: Arial, Helvetica, Tahoma, sans-serif;

	font-style: none;

	margin: 0 auto;

	overflow: hidden;

	width: 960px;

	clear: both;

}



#nav ul {

	float: right;

}



#nav li {

	float: left;

	list-style-type: none;

}



#nav li a, #nav li a:visited {

	float: right;

	color: #f0e519;

	display: block;

	font-size: 13px;

	padding: 0 8px 0 8px;

	position: relative;

	text-align:center;

	border-right: 1px dotted #fff;

	text-decoration: none;

	font-weight: bold;



}



#nav li.last a {

	border-right: none;

}



#nav li.facebook a {

	background: url(images/facebook.png) no-repeat center left;

	padding: 0 0 0 20px;

	margin-left:10px;

	border-right: none;

}



#nav li a:hover,

#nav li a:active,

#nav li:hover a,

#nav .current_page_item a,

#nav .current-cat a,

#nav .current-menu-item a {

	border-right: 1px dotted #fff;

	color: #fff;

	overflow: hidden;

}



#nav ul li.last a,

#nav ul li.last a:active,

#nav ul li.last a:hover,

#nav li.facebook a,

#nav li.facebook a:active,

#nav li.facebook a:hover  { 

	border-right: none;

}



#nav ul li.first a,

#nav ul li.first a:active,

#nav ul li.first a:hover { 

	border-radius: 10px 0px 0px 0px; 

	-moz-border-radius: 10px 0px 0px 0px; 

	-webkit-border-radius: 10px 0px 0px 0px;

}





#nav li ul {

	margin: 0 0 0 0;

}





#nav li li a,

#nav li li a:link,

#nav li li a:visited {

	border-right: none;

	background: none;

	font-family: Arial, Helvetica, Tahoma, sans-serif;

	border-bottom: 0px solid #ddd;

	color: #fff;

	font-size: 12px;

	padding: 5px 14px 4px 14px;

	position: relative;

	text-transform: none;

	width: 130px;

	text-shadow: 1px 1px 2px #666;



}



#nav li li a:hover,

#nav li li a:active {

	background: #2c2b7c;

	background: #2c2b7c url(images/nav-bg-hover.png);

	color: #000;

	text-shadow: 1px 1px 2px #666;

}



#nav li ul {

	background: #cc0000;

	height: auto;

	left: -9999px;

	padding: 0;

	position: absolute;

	width: 158px;

	z-index: 9999;

}



#nav li ul a {

	width: 140px;

}



#nav li ul ul {

	margin: -31px 0 0 158px;

}



#nav li:hover>ul,

#nav li.sfHover ul {

	left: auto;

}

/* Primary Navigation Extras



------------------------------------------------------------ */

#nav li.right {

	float: right;

	font-size: 12px;

	padding: 7px 15px 6px;

}



#nav li.right a {

	background: none;

	border: none;

	color: #777;

	display: inline;

	text-decoration: none;

}



#nav li.right a:hover {

	color: #ccc;

	text-decoration: none;

}



#nav li.search {

	padding: 0 10px 2px 10px;

}



#nav li.rss a {

	background: url(images/rss.png) no-repeat center left;

	margin: 0 0 0 10px;

	padding: 0 0 0 16px;

}



#nav li.twitter a {

	background: url(images/twitter-nav.png) no-repeat center left;

	padding: 0 0 0 20px;

}





/* Secondary Navigation



------------------------------------------------------------ */



#subnav {

	background: url(images/nav-bg.png);

	font-family: "bebas-neue";

	clear: both;

	color: #fff;

	margin: 0 auto 0;

	overflow: hidden;

/*	text-shadow: 1px 1px #222;*/

	width: 960px;

	text-transform: uppercase;

	border-radius: 10px 10px 0px 0px; 

	-moz-border-radius: 10px 10px 0px 0px; 

	-webkit-border-radius: 10px 10px 0px 0px;

}



#subnav ul {

	float: left;

	width: 100%;

}



#subnav li {

	float: left;

	list-style-type: none;

}



#subnav li a {

	border-right: 1px solid #000;

	font-size: 26px;

	color: #fff;

	display: block;

	padding: 10px 10px 6px 10px;

	position: relative;

	text-decoration: none;

	text-shadow: 1px 1px 2px #666;

}



#subnav li a:hover,

#subnav li a:active,

#subnav li:hover a,

#subnav .current_page_item a,

#subnav .current-cat a,

#subnav .current-menu-item a {

	border-right: 1px solid #000;

	background: #FCEE21 url(images/nav-bg-hover.png);

	text-shadow: 1px 1px 2px #666;

	color: #000;

	overflow: hidden;



}



#subnav ul li.last a,

#subnav ul li.last a:active,

#subnav ul li.last a:hover { 

	border-right: none;

}



#subnav ul li.first a,

#subnav ul li.first a:active,

#subnav ul li.first a:hover { 

	border-radius: 10px 0px 0px 0px; 

	-moz-border-radius: 10px 0px 0px 0px; 

	-webkit-border-radius: 10px 0px 0px 0px;

}





#subnav li li a:hover,

#subnav li li a:active {

	color: #fff;

}







#subnav  li ul {

	margin: 0 0 0 0;

}







#subnav li ul a {



	width: 120px;



}







#subnav li ul ul {



	margin: -37px 0 0 139px;



}







#subnav li:hover>ul,



#subnav li.sfHover ul {



	left: auto;



}



#subnav li li a,

#subnav li li a:link,

#subnav li li a:visited {

	border-right: none;

	background: none;

	font-family: Arial, Helvetica, Tahoma, sans-serif;

	border-bottom: 0px solid #ddd;

	color: #fff;

	font-size: 12px;

	padding: 5px 14px 4px 14px;

	position: relative;

	text-transform: none;

	width: 130px;

	text-shadow: 1px 1px 2px #666;

}



#subnav li li a:hover,

#subnav li li a:active {

	background: #fcee21;

	background: #FCEE21 url(images/nav-bg-hover.png);

	color: #000;

	text-shadow: 1px 1px 2px #666;

}



#subnav li ul {

	background: #cc0000;

	height: auto;

	left: -9999px;

	padding: 0;

	position: absolute;

	width: 158px;

	z-index: 9999;

}



#subnav li ul a {

	width: 140px;

}



#subnav li ul ul {

	margin: -31px 0 0 158px;

}



#subnav li:hover>ul,

#subnav li.sfHover ul {

	left: auto;

}







.menu-description {



	clear: both;



	color: #777;



	display: block;



	font-family: Georgia, Times, 'Times New Roman', serif;



	font-size: 12px;



	font-style: italic;



}











/* Inner



------------------------------------------------------------ */







#inner {



	-moz-box-shadow: 0px 1px 3px #000;



	-webkit-box-shadow: 0px 1px 3px #000;



	box-shadow: 0px 1px 3px #000;



	border-radius: 0 0 10px 10px; 



	-moz-border-radius: 0 0 10px 10px;



	-webkit-border-radius: 0 0 10px 10px;



	background-color: #fff;



	margin: 0 auto 20px;



	overflow: hidden;



	padding: 15px 20px;



	width: 920px;



}







/* Genesis Slider



------------------------------------------------------------ */







.backcountry #genesis-slider {



	border: 1px solid #ddd;



	margin: 0 auto 20px;



	padding: 9px;



}







.backcountry #genesis-slider p {



	color: #fff;



	font-size: 12px;



	line-height: 20px;



}







.backcountry .slide-excerpt {



	background-color: #000;



	margin: 0;



	padding: 0px 3px;



}







html > body.backcountry .slide-excerpt-border {



	border: none;



	padding: 0;



}











/* Home



------------------------------------------------------------ */







#home {



	overflow: hidden;



}



#home-top {



	margin-bottom: 20px;



}







.home-left {



	float: left;



	width: 275px;



}







.home-right {



	float: right;



	width: 275px;



}











/* Breadcrumb



------------------------------------------------------------ */







.breadcrumb {



	color: #999;



	font-family: Georgia, Times, 'Times New Roman', serif;



	font-size: 12px;



	font-style: italic;



	margin: 0 0 10px 0;



}







.breadcrumb a,



.breadcrumb a:visited {



	color: #666;



	text-decoration: none;



}







.breadcrumb a:hover {



	color: #333;



	text-decoration: none;



}











/* Taxonomy Description



------------------------------------------------------------ */







.taxonomy-description {



	margin: 0 0 30px;



	padding: 10px;



}











/* Content-Sidebar Wrap



------------------------------------------------------------ */







#content-sidebar-wrap {



	float: left;



	width: 780px;



}







.content-sidebar #content-sidebar-wrap,



.full-width-content #content-sidebar-wrap,



.sidebar-content #content-sidebar-wrap {



	width: 920px;



}







.sidebar-content-sidebar #content-sidebar-wrap,



.sidebar-sidebar-content #content-sidebar-wrap {



	float: right;



}











/* Content



------------------------------------------------------------ */







#content {



	float: left;



	padding: 0;



	width: 400px;



}







.content-sidebar #content,



.sidebar-content #content {



	width: 640px;



}







.sidebar-content #content,



.sidebar-sidebar-content #content {



	float: right;



}







.full-width-content #content {



	width: 916px;



}







blockquote {



	margin: 5px 15px 20px;



	padding: 15px 20px 0;



}







.post {



	margin: 0 0 40px;



}







.entry-content {



	overflow: hidden;



}







.entry-content p {



	padding: 0 0 15px;



}







p.subscribe-to-comments {



	padding: 20px 0 10px;



}







.after-post-ad {



	border-top: 1px solid #eee;



	padding: 10px 0;



	overflow: hidden;



}







.clear {



	clear: both;



}







.clear-line {



	border-bottom: 1px solid #eee;



	clear: both;



	margin: 0 0 15px;



}











/* Column Classes



------------------------------------------------------------ */







.five-sixths,



.four-fifths,



.four-sixths,



.one-fifth,



.one-fourth,



.one-half,



.one-sixth,



.one-third,



.three-fifths,



.three-fourths,



.three-sixths,



.two-fifths,



.two-fourths,



.two-sixths,



.two-thirds {



	float: left;



	margin: 0 0 20px;



	padding-left: 3%;



}







.one-half,



.three-sixths,



.two-fourths {



	width: 48%;



}







.one-third,



.two-sixths {



	width: 31%;



}







.four-sixths,



.two-thirds {



	width: 65%;



}







.one-fourth {



	width: 22.5%;



}







.three-fourths {



	width: 73.5%;



}







.one-fifth {



	width: 17.4%;



}







.two-fifths {



	width: 37.8%;



}







.three-fifths {



	width: 58.2%;



}







.four-fifths {



	width: 78.6%;



}







.one-sixth {



	width: 14%;



}







.five-sixths {



	width: 82%;



}







.first {



	clear: both;



	padding-left: 0;



}











/* Featured Post Grid



------------------------------------------------------------ */







.genesis-grid-even {



	float: right;



	padding: 0 0 15px;



	width: 48%;



}







.genesis-grid-odd {



	clear: both;



	float: left;



	padding: 0 0 15px;



	width: 48%;



}







.genesis-grid-even,



.genesis-grid-odd {



	margin: 0 0 20px;



}











/* Headlines



------------------------------------------------------------ */







h1,



h2,



h3,



h4,



h5,



h6 {



	font-family: Arial, Helvetica, Tahoma, sans-serif;



	margin: 0 0 10px;



}







h1,



h2,



h2 a,



h2 a:visited {



	font-family: "bebas-neue",sans-serif;



	font-size: 34px;



	line-height: 40px;



	color: #5b2d0b;



}







.backcountry #genesis-slider h2 {



	margin: 0;



}







.backcountry #genesis-slider h2 a,



.backcountry #genesis-slider h2 a:visited {



	color: #fff;



	font-family: Georgia, Times, 'Times New Roman', serif;



	font-size: 16px;



	font-style: italic;



	line-height: 24px;



	margin: 0;



}







.backcountry #genesis-slider h2 a:hover {



	color: #bc0000;



}







.featuredpost h2 {



	margin: 0;



}







.featuredpost h2 a,



.featuredpost h2 a:visited {



	font-size: 30px;



	line-height: 35px;



}







.taxonomy-description h1,



.widget-area h2,



.widget-area h2 a {



	font-size: 22px;



	line-height: 25px;



	margin: 0 0 5px;



}







h2 a:hover {



	color: #bc0000;



	text-decoration: none;



}







h3 {



	font-family: "bebas-neue",sans-serif;



	font-size: 28px;



	line-height: 31px;



	color: #5b2d0b;



}







h4 {



	font-size: 16px;



}







.widget-area h4 {



	background: url(images/nav-bg.png);



	font-family: "bebas-neue",sans-serif;



	font-size: 26px;



	height: 20px;



	text-shadow: 1px 1px 2px #111;



	border-radius: 10px 10px 0px 0px; 



	-moz-border-radius: 10px 10px 0px 0px; 



	-webkit-border-radius: 10px 10px 0px 0px;



	color: #fff;



	margin: -10px -10px 0 -10px;



	padding: 10px;



}







.sidebar h2 {



	margin: 8px 0 0 0;



	



}







.sidebar .post-info {



	margin: 0 0 0 0;



}











.widget-area h4 a {



	text-decoration: none;



}







#footer-widgets h4 {



	color: #fff;



	font-family: "bebas-neue",sans-serif;



	font-size: 28px;



	font-style: italic;



	margin: 0 0 10px;



}







h5 {



	font-size: 14px;



}







h6 {



	font-size: 12px;



}











/* Ordered / Unordered Lists



------------------------------------------------------------ */







.entry-content ol,



.entry-content ul {



	margin: 0;



	padding: 0 0 15px;



}







.entry-content ol {



	margin: 0;



}







.archive-page ul li,



.entry-content ul li {



	list-style-type: square;



	margin: 0 0 0 30px;



	padding: 0;



}







.entry-content ol li {



	margin: 0 0 0 35px;



}







.archive-page ul ul,



.entry-content ol ol,



.entry-content ul ul {



	padding: 0;



}











/* Post Info



------------------------------------------------------------ */







.post-info {



	color: #999;



	font-family: Georgia, Times, 'Times New Roman', serif;



	font-size: 14px;



	font-style: italic;



	margin: -5px 0 0 0;



}







#home .post-info,



#home-bottom .post-info {



	margin: 0 0 5px;



	font-size: 14px;



}







.post-info a,



.post-info a:visited {



	color: #666;



	text-decoration: none;



}







.post-info a:hover {



	color: #333;



	text-decoration: none;



}











/* Post Meta



------------------------------------------------------------ */







.post-meta {



	border-top: 1px solid #eee;



	clear: both;



	color: #999;



	font-family: Georgia, Times, 'Times New Roman', serif;



	font-size: 13px;



	font-style: italic;



	padding: 5px 0 0;



}







.post-meta a,



.post-meta a:visited {



	color: #666;



	text-decoration: none;



}







.post-meta a:hover {



	color: #333;



	text-decoration: none;



}











/* Author Box



------------------------------------------------------------ */







.author-box {



	margin: 0 0 40px;



	overflow: hidden;



	padding: 10px;



}







.author-box p {



	font-size: 13px;



	line-height: 20px;



}











/* Sticky Posts



------------------------------------------------------------ */







.sticky {



	margin: 0 0 40px;



	padding: 20px;



}











/* Archive Page



------------------------------------------------------------ */







.archive-page {



	float: left;



	padding: 20px 0;



	width: 45%;



}











/* Images



------------------------------------------------------------ */







.content-sidebar .entry-content img,



.sidebar-content .entry-content img {



	max-width: 570px;



}







.content-sidebar-sidebar .entry-content img,



.sidebar-content-sidebar .entry-content img,



.sidebar-sidebar-content .entry-content img {



	max-width: 400px;



}







.avatar,



.featuredpage img,



.featuredpost img,



.post-image {



	background-color: #f5f5f5;



	border: 1px solid #ddd;



	padding: 4px;



}







#home .featuredpost img,



#home-bottom .featuredpost img {



	background-color: #fff;



	margin: 0 0 10px;



}







#home .featuredpost a:hover img,



#home-bottom .featuredpost a:hover img {



	border: 1px solid #bbb;



}







.author-box .avatar {



	background-color: #fff;



	float: left;



	height: 72px;



	margin: 0 10px 0 0;



	width: 72px;



}







.post-image {



	margin: 0 10px 10px 0;



}







.comment-list li .avatar {



	-moz-box-shadow: 0 0 1px 1px #eee inset;



	-webkit-box-shadow: 0 0 1px 1px#eee inset;



	border: 1px solid #ddd;



	box-shadow: 0 0 1px 1px #eee inset;



	float: right;



	margin: 0 5px 0 10px;



	padding: 4px;



}







img.centered,



.aligncenter {



	display: block;



	margin: 0 auto 10px;



}







img.alignnone {



	display: inline;



	margin: 0 0 10px;



}







img.alignleft {



	display: inline;



	margin: 0 10px 10px 0;



}







img.alignright {



	display: inline;



	margin: 0 0 10px 10px;



}







.alignleft {



	float: left;



	margin: 0 10px 0 0;



}







.alignright {



	float: right;



	margin: 0 0 0 10px;



}







.wp-caption {



	padding: 5px;



	text-align: center;



}







p.wp-caption-text {



	font-size: 12px;



	line-height: 16px;



	padding: 5px 0;



}







.wp-smiley,



.wp-wink {



	border: none;



	float: none;



}







.gallery-caption {



}











/* Post Navigation



------------------------------------------------------------ */







.navigation {



	overflow: hidden;



	padding: 20px 0;



	width: 100%;



}







.navigation li {



	display: inline;



}







.navigation li a,



.navigation li.disabled,



.navigation li a:hover,



.navigation li.active a {



	-moz-box-shadow: 0 0 1px 1px #eee;



	-webkit-box-shadow: 0 0 1px 1px#eee;



	border: 1px solid #ddd;



	box-shadow: 0 0 1px 1px #eee;



	color: #555;



	cursor: pointer;



	font-family: Arial, Helvetica, Tahoma, sans-serif !important;



	font-size: 12px;



	font-weight: bold;



	padding: 10px;



	text-decoration: none;



}







.navigation li a:hover,



.navigation li.active a {



	border: 1px solid #ddd;



	color: #bc0000;



	text-decoration: none;



}











/* Primary / Secondary Sidebars



------------------------------------------------------------ */







.sidebar {



	display: inline;



	float: right;



	margin: 0 0 20px 0;



	padding: 0 0 5px 0;



	width: 260px;



	font-size: 14px;



}







.sidebar .widget {



	background-color: #fff;



	margin: 0 0 15px;



    -webkit-border-radius: 12px;



    -moz-border-radius: 12px;



     border-radius: 12px;



	-moz-box-shadow: 0 2px 6px #9e9e9e; 



	-webkit-box-shadow: 0 2px 6px #9e9e9e;



	box-shadow: 0 2px 6px #9e9e9e;



    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;



	padding:10px;



	border:1px solid #dedfe0;



}







.sidebar p {



	font-size: 14px;



	line-height: 20px;



}







#sidebar-alt {



	float: left;



	width: 150px;



}







#textwidget a {



	margin: 10px 0 0 0;



}







.sidebar-content #sidebar,



.sidebar-sidebar-content #sidebar {



	float: left;



}







.content-sidebar-sidebar #sidebar-alt {



	float: right;



}







.sidebar .widget {



	margin: 0 0 20px 0;



}







.sidebar .widget.widget_search {



	background: none;



}







.widget-area ol ol,



.widget-area ul ul {



	margin: 10px 0 0 15px;



}







.widget-area ul li {



	list-style-type: disc;



	margin: 10px 0 2px 15px;



	padding: 0;



	word-wrap: break-word;



}







.widget-area ul li a,



.widget-area ul li a:visited {



	color: #444;



	text-decoration: none;



}







.widget-area ul li a:hover {



	color: #bc0000;



	text-decoration: none;



}







.latest-tweets ul li a,



.latest-tweets ul li a:visited {



	color: #bc0000;



	text-decoration: none;



}







.latest-tweets ul li a:hover {



	color: #bc0000;



	text-decoration: underline;



}







.latest-tweets li span a,



.latest-tweets li span a:visited {



	color: #999;



	font-size: 12px;



	text-decoration: none;



}







.latest-tweets li span a:hover {



	color: #444;



	text-decoration: none;



}











/* Dropdowns



------------------------------------------------------------ */







#cat,



.widget_archive select {



	-khtml-border-radius: 3px;



	-moz-border-radius: 3px;



	-webkit-border-radius: 3px;



	border-radius: 3px;



	display: inline;



	font-family: Arial, Helvetica, Tahoma, sans-serif;



	font-size: 12px;



	width: 100%;



}











/* Featured Page / Post



------------------------------------------------------------ */







.featuredpage,



.featuredpost {



	clear: both;



	overflow: hidden;



}







.featuredpost p {



	font-size: 14px;



	line-height: 20px;



}







.featuredpage .page,



.featuredpost .post {



	border-bottom: 1px solid #eee;



	margin: 0 0 20px;



	overflow: hidden;



	padding: 0 0 10px;



}







#footer-widgets .featuredpage .page,



#footer-widgets .featuredpost .post {



	margin: 0 0 10px;



	padding: 0;



}











/* User Profile



------------------------------------------------------------ */







.user-profile {



	overflow: hidden;



}











/* Buttons



------------------------------------------------------------ */







input[type="button"],



input[type="submit"],



.reply a {



	background:#FCEE21;



	border: 1px solid #ddd;



	color: #333;



	cursor: pointer;



	font-family: Arial, Helvetica, Tahoma, sans-serif !important;



	font-size: 12px;



	font-weight: bold;



	padding: 4px;



	text-decoration: none;



}







#respond input[type="button"],



#respond input[type="submit"] {



	padding: 11px 12px;



}







.reply a {



	padding: 5px 7px;



}







input:hover[type="button"],



input:hover[type="submit"],



.reply a:hover {



	background: #FE0000;



	border: 1px solid #ddd;



	color: #fff;



	text-decoration: none;



}











/* Search Form



------------------------------------------------------------ */







#header .searchform {



	float: right;



	padding: 20px 0 0;



}







#nav .searchform {



	margin-top: 2px;



	float: right;



}







.sidebar .searchform {



	margin: 10px 0 0;



}







.s {



	color: #777;



	font-family: Arial, Helvetica, Tahoma, sans-serif;



	font-size: 12px;



	margin: 0 2px 0 0;



	padding: 5px 4px 5px 5px;



	width: 150px;



}







#nav .s {



	background-color: #fff;



	margin: 2px 2px 0 0;



}











/* eNews and Update Widget



------------------------------------------------------------ */







.enews #subbox {



	font-family: Arial, Helvetica, Tahoma, sans-serif;



	font-size: 12px;



	margin: 5px 5px 0 0;



	padding: 5px;



	width: 220px;



}











/* Calendar Widget



------------------------------------------------------------ */







#wp-calendar {



	width: 100%;



}







#wp-calendar caption {



	font-size: 12px;



	font-style: italic;



	padding: 2px 5px 0 0;



	text-align: right;



}







#wp-calendar thead {



	background-color: #f5f5f5;



	font-weight: bold;



	margin: 10px 0 0;



}







#wp-calendar td {



	background-color: #f5f5f5;



	padding: 2px;



	text-align: center;



}











/* Footer Widgets



------------------------------------------------------------ */







#footer-widgets {



	background: url(images/footer-widgets.jpg) top repeat-x;



	clear: both;



	color: #999;



	margin: 0 auto;



	padding: 20px 0 0;



}







#footer-widgets .wrap {



	font-size: 13px;



	line-height: 20px;



	margin: 0 auto;



	overflow: hidden;



	text-shadow: 1px 1px #222;



	width: 960px;



}







#footer-widgets .widget {



	overflow: hidden;



}







#footer-widgets a,



#footer-widgets a:visited {



	color: #ccc;



	text-decoration: none;



}







#footer-widgets a:hover {



	color: #fff;



	text-decoration: none;



}







#footer-widgets p {



	color: #999;



	font-size: 13px;



	line-height: 20px;



	padding: 0 0 15px;



}







#footer-widgets ul {



	margin: 0 0 10px;



}







#footer-widgets ul li {



	border-bottom: 1px solid #373737;



	list-style-type: none;



	margin: 0 0 7px;



	padding: 0 0 7px;



}







#footer-widgets .footer-widgets-4 ul li {



	border-bottom: none;



}







#footer-widgets #wp-calendar thead,



#footer-widgets #wp-calendar td {



	background: none;



}







.footer-widgets-1 {



	float: left;



	margin: 0 20px 0 0;



	width: 150px;



}







.footer-widgets-2 {



	float: left;



	margin: 0 20px 0 0;



	width: 250px;



}







.footer-widgets-3 {



	float: left;



	width: 260px;



}







.footer-widgets-4 {



	float: right;



	width: 240px;



}











/* Social Icons



------------------------------------------------------------ */







#footer-widgets ul li.social-facebook,



#footer-widgets ul li.social-pinterest,



#footer-widgets ul li.social-rss,



#footer-widgets ul li.social-twitter {



	float: left;



}







#footer-widgets ul li.social-facebook a,



#footer-widgets ul li.social-facebook a:hover,



#footer-widgets ul li.social-pinterest a,



#footer-widgets ul li.social-pinterest a:hover,



#footer-widgets ul li.social-rss a,



#footer-widgets ul li.social-rss a:hover,



#footer-widgets ul li.social-twitter a,



#footer-widgets ul li.social-twitter a:hover {



	background: #222 url(images/social-icons.png);



	display: block;



	height: 48px;



	margin: 0 10px 10px 0;



	padding: 0;



	text-indent: -9999px;



	width: 48px;



}







#footer-widgets ul li.social-facebook a:hover,



#footer-widgets ul li.social-pinterest a:hover,



#footer-widgets ul li.social-rss a:hover,



#footer-widgets ul li.social-twitter a:hover {



	background: #bc0000 url(images/social-icons.png);



}







#footer-widgets ul li.social-facebook a {



	background-position: 0 0;



}







#footer-widgets ul li.social-facebook a:hover {



	background-position: 0 0;



}







#footer-widgets ul li.social-pinterest a {



	background-position: -48px 0;



}







#footer-widgets ul li.social-pinterest a:hover {



	background-position: -48px 0;



}







#footer-widgets ul li.social-rss a {



	background-position: 0 -48px;



}







#footer-widgets ul li.social-rss a:hover {



	background-position: 0 -48px;



}







#footer-widgets ul li.social-twitter a {



	background-position: -48px -48px;



}







#footer-widgets ul li.social-twitter a:hover {



	background-position: -48px -48px;



}











/* Footer



------------------------------------------------------------ */







#footer {



	clear: both;



	overflow: hidden;



	padding: 0 0 20px;



	text-align: center;



	color: #fff;



}







#footer .wrap {



	font-size: 12px;



	margin: 0 auto;



	width: 960px;



}







#footer p {



	color: #fff;



	font-size: 12px;



}







#footer a,



#footer a:visited {



	color: #fff;



}







#footer a:hover {



	color: #fff;



	text-decoration: underline;



}







#footer .gototop {



	float: left;



	width: 200px;



}







#footer .creds {



	float: right;



	text-align: right;



	width: 755px;



}











/* Comments



------------------------------------------------------------ */







#comments,



#respond {



	font-size: 13px;



	line-height: 20px;



	margin: 0 0 15px;



	overflow: hidden;



}







#comments p,



#respond p {



	font-size: 13px;



	line-height: 20px;



}







#author,



#comment,



#email,



#url {



	font-size: 13px;



	margin: 10px 5px 0 0;



	padding: 5px;



	width: 250px;



}







#comment {



	height: 150px;



	margin: 10px 0;



	width: 98%;



}







.ping-list {



	margin: 0 0 40px;



}







.comment-list ol,



.ping-list ol {



	padding: 10px;



}







.comment-list li,



.ping-list li {



	font-weight: bold;



	margin: 15px 0 5px 30px;



	padding: 10px 5px 0 10px;



}







.comment-list li ul li {



	list-style-type: none;



	margin-left: 10px;



	margin-right: -6px;



}







.comment-list p,



.ping-list p {



	margin: 10px 5px 10px 0;



}







.comment-list cite,



.ping-list cite {



	font-style: normal;



}







.commentmetadata {



	font-size: 11px;



}







.commentmetadata a,



.commentmetadata a:visited {



	color: #666;



	text-decoration: none;



}







.commentmetadata a:hover {



	color: #333;



	text-decoration: none;



}







.nocomments {



	text-align: center;



}







#comments .navigation {



	display: block;



}







.reply {



	border-bottom: 1px solid #eee;



	padding: 0 0 30px;



}







.bypostauthor {



}











/* Gravity Forms



------------------------------------------------------------ */







div.gform_wrapper input,



div.gform_wrapper select,



div.gform_wrapper textarea {



	color: #777;



	font-family: Arial, Helvetica, Tahoma, sans-serif;



	font-size: 12px !important;



	padding: 8px 0 8px 8px !important;



}







div.gform_footer input.button {



	color: #555;



	padding: 10px !important;



}







div.gform_footer input.button:hover {



	color: #bc0000;



}







div.gform_wrapper .ginput_complex label {



	font-size: 12px;



}







div.gform_wrapper li,



div.gform_wrapper form li {



	margin: 0 0 10px;



}







div.gform_wrapper .gform_footer {



	border: none;



	margin: 0;



	padding: 0;



}











/***** Footer Navigation ********************/







#footer ul {



	margin: 0;



	list-style-type: none;



	padding: 0 0 10px 0;



	text-align: center;



	}



	



#footer ul li {



	display: inline;



	}



	



#footer ul li a {



    margin: 0;



	padding: 0 8px 0 8px;



	text-align:center;



	border-right: 1px dotted #FFF;



	}







#footer ul li.last a {



	border-right: none;



	}







#footer .copyright {



	width: 100%;



	clear: both;



	text-align: center;



	}



#footer .copyright p {



	margin: 3px 0 0 0;



	padding: 0;



	text-align: center;



	}











/* Social Media Icons



------------------------------------------------------------ */







#header .textwidget {



	clear: both !important;



}



#header .textwidget p {



	font-size: 18px;



	color: #fff;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-style: italic;



}







#header ul li.social-facebook,



#header ul li.social-googleplus,



#header ul li.social-linkedin,



#header ul li.social-pinterest,



#header ul li.social-rss,



#header ul li.social-twitter {



    float: left;



}







#header ul li.social-facebook a,



#header ul li.social-facebook a:hover,



#header ul li.social-googleplus a,



#header ul li.social-googleplus a:hover,



#header ul li.social-linkedin a,



#header ul li.social-linkedin a:hover,



#header ul li.social-pinterest a,



#header ul li.social-pinterest a:hover,



#header ul li.social-rss a,



#header ul li.social-rss a:hover,



#header ul li.social-twitter a,



#header ul li.social-twitter a:hover {



    display: block;



    height: 48px;



    margin: 0 10px 0 0;



    padding: 0;



    text-indent: -9999px;



    width: 48px;



}







#header ul li.social-facebook a {



    background: #FF0000 url(images/48x48_facebook.png);



}







#header ul li.social-facebook a:hover {



    background: #e7d509 url(images/48x48_facebook.png);



}







#header ul li.social-googleplus a {



    background: #FF0000 url(images/48x48_googleplus.png);



}







#header ul li.social-googleplus a:hover {



    background: #e7d509 url(images/48x48_googleplus.png);



}







#header ul li.social-linkedin a {



    background: #FF0000 url(images/48x48_linkedin.png);



}







#header ul li.social-linkedin a:hover {



    background: #e7d509 url(images/48x48_linkedin.png);



}







#header ul li.social-pinterest a {



    background: #FF0000 url(images/48x48_pinterest.png);



}







#header ul li.social-pinterest a:hover {



    background: #e7d509 url(images/48x48_pinterest.png);



}







#header ul li.social-rss a {



    background: #FF0000 url(images/48x48_rss.png);



}







#header ul li.social-rss a:hover {



    background: #e7d509 url(images/48x48_rss.png);



}







#header ul li.social-twitter a {



    background: #FF0000 url(images/48x48_twitter.png);



}







#header ul li.social-twitter a:hover {



    background: #e7d509 url(images/48x48_twitter.png);



}







.typekit-badge {display:none !important;}







/* WooCommerce Price (Default) */

.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price, .woocommerce div.product span.price, .woocommerce div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content div.product p.price, .woocommerce-page div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content div.product p.price {

	color: #333333 !important;

	font-size: 1em;

	font-weight: normal;

}



/* WooCommerce Price (From Text) */

.woocommerce ul.products li.product .price .from, .woocommerce-page ul.products li.product .price .from, .woocommerce div.product span.price .from, .woocommerce div.product p.price .from, .woocommerce #content div.product span.price .from, .woocommerce #content div.product p.price .from, .woocommerce-page div.product span.price .from, .woocommerce-page div.product p.price .from, .woocommerce-page #content div.product span.price .from, .woocommerce-page #content div.product p.price .from {

	color: #0d0502 !important;

	font-size: 0.85em;

	text-transform: uppercase;

}



/* WooCommerce Price (Regular Price) */

.woocommerce div.product span.price del, .woocommerce div.product p.price del, .woocommerce #content div.product span.price del, .woocommerce #content div.product p.price del, .woocommerce-page div.product span.price del, .woocommerce-page div.product p.price del, .woocommerce-page #content div.product span.price del, .woocommerce-page #content div.product p.price del, .woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del, .product-price del, .woocommerce ul.cart_list li .quantity del, .woocommerce-page ul.cart_list li .quantity del, .woocommerce ul.product_list_widget li .quantity del, .woocommerce-page ul.product_list_widget li .quantity del {

	color: #5b2d0b !important;

	font-size: 1em !important;

	text-decoration: line-through;

}



/* WooCommerce Price (Sale Price) */

.woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins, .woocommerce div.product span.price ins, .woocommerce div.product p.price ins, .woocommerce #content div.product span.price ins, .woocommerce #content div.product p.price ins, .woocommerce-page div.product span.price ins, .woocommerce-page div.product p.price ins, .woocommerce-page #content div.product span.price ins, .woocommerce-page #content div.product p.price ins, .product-price ins, .woocommerce ul.cart_list li .quantity ins, .woocommerce-page ul.cart_list li .quantity ins, .woocommerce ul.product_list_widget li .quantity ins, .woocommerce-page ul.product_list_widget li .quantity ins {

	color: #c40000 !important;

	font-size: 1.2em !important;

	font-weight: bold !important;

	text-decoration: none;

}



.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3

{

  font-size: 1.6em !important;

}



.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title

{

  font-weight: normal !important;

  font-size: 2.0em !important;

}



.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals

{

  float: right;

  width: 65% !important;

  margin-right: 10px !important;

  text-align: right;

}



.woocommerce ul.products li.product, .woocommerce-page ul.products li.product

{

  width: 28% !important;

  border: 1px solid #ddd;

  margin-top: 10px !important;

  padding:7px !important;

}

li.gfield.hidden {
    display: none;
}

.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description, .gform_wrapper .instruction { font-size: .75em !important; }



